<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/userSignup.css" />
    <link
      data-minify="1"
      href="https://www.bacancytechnology.com/blog/wp-content/cache/min/1/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css?ver=1727441421"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Toastify CSS and JS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <h2 style="text-align: center; margin-top: 100px">PICK UR PCEE</h2>

    <div class="login-container">
      <div class="login-form">
        <h2>Sign Up</h2>
        <% if(success_message.length > 0) { %>
        <div id="flash-success" class="text-success text-center"><%= success_message %></div>
        <% } else if(error_message.length > 0) { %>
        <div id="flash-error" class="text-danger text-center"><%= error_message %></div>
        <% } %>

        <form action="/register" method="post" id="form">
          <div class="input-group">
            <label for="username">First Name</label>
            <input type="text" id="firstName" name="firstName" />
            <div class="error"></div>
          </div>
          <div class="input-group">
            <label for="username">Last Name</label>
            <input type="text" id="lastName" name="lastName" />
          </div>
          <div class="input-group">
            <label for="username">Email</label>
            <input type="text" id="email" name="email" />
            <div class="error"></div>
          </div>
          <div class="input-group">
            <label>Mobile Number</label>
            <input type="text" id="mobile" name="mobile" />
            <div class="error"></div>
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
            <div class="error"></div>
          </div>
          <div class="input-group">
            <label for="password">Confirm Password</label>
            <input type="password" id="confirmPass" name="confirmPass" />
            <div class="error"></div>
          </div>
          <button type="submit" class="primary-btn">Login</button>
          <a href="/google" type="submit" class="primary2-btn">
            <i class="fa-brands fa-google" style="color: #ffffff;display: flex;justify-content: center;margin-top: 12px;"></i>
          </a>
        </form>
        <p>Don't have an account? <a href="/login">Login</a></p>
      </div>
    </div>
    <script defer src="js/signupValid.js"></script>
    <script>
       setTimeout(function() {
    const successMessage = document.getElementById('flash-success');
    if (successMessage) {
      successMessage.style.transition = 'opacity 1s ease'; 
      successMessage.style.opacity = '0';  
      setTimeout(function() {
        successMessage.remove();
      }, 1000);  
    }
    const errorMessage = document.getElementById('flash-error');
    if (errorMessage) {
      errorMessage.style.transition = 'opacity 1s ease';
      errorMessage.style.opacity = '0';
      setTimeout(function() {
        errorMessage.remove();
      }, 1000);
    }
  }, 3000);
    </script>
  </body>
</html>
